{% extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block body %}
	<div class="container about">
		<div class="image">
			<img src="/assets/images/about.jpg" alt="about">
		</div>
		<div class="content">
			<h4>Bonjour</h4>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis porro consequuntur alias explicabo a itaque illo fuga quidem pariatur. Earum ea at sapiente praesentium autem beatae quo in ducimus deleniti? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, totam cum eligendi quis enim architecto voluptas quas cumque laboriosam amet! Harum repellat perspiciatis veritatis quo quasi, est deserunt doloribus aspernatur!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet neque magni reprehenderit excepturi facere, illum voluptatibus, ea saepe quisquam blanditiis consectetur error corporis, amet perspiciatis. </p>
		</div>
	</div>
{% endblock %}
