.admin.users {
    display: flex;
    flex-direction: column;
    row-gap: width(24);

    table, th, td {
        border: width(1) solid $primary;
        border-collapse: collapse;
        font-size: width(20);
    }
    th, td {
        padding: width(4) width(4);
    }
    table {
        th.id, td.id {
            width: 5%;
            text-align: center;
        }
        th.username, td.username {
            width: 20%;
        }
        th.email, td.email {
            width: 30%;
        }
        th.role, td.role {
            width: 15%;
        }
        th.actions, td.actions {
            width: 30%;
        } 
        td.actions {
            div {
                display: flex;
                justify-content: center;
                column-gap: width(8);
                a {
                    width: auto;
                }
            }
        }
    }
}